h1{
    background-color: blue;
    color: red;
    text-align: center;
}

P{
    background-color: rgb(248, 239, 239);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hamburger{
    width: 30%;
    height: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    color: rgb(201, 25, 13);
    background-color: black;
}
a:visited{
    color: blueviolet;
}

.ingredients{
    list-style-type: decimal;
}

ul{
    list-style: square;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: block;
    margin: 8px;
}